<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/Pierre Fuentes">Pierre Fuentes. A web developer student who is on a mission demonstrate that you are never too old to make a satisfying, meaningful career change. If he can do it, you can too!
  </p>
  <br />
  <p>
    He is currenly being trained by the best instructors who has taught hundreds of students how to code and build products people want at places like Harvard Business School, Carnegie Mellon, Babson, Rhode Island School of Design, and Brown University.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>


<div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'mexwhite.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Pierre Fuentes</h2>
      <br />
      <p>
        Pierre Fuentes is a student web developer with the <a target="_blank" href=" https://drive.google.com/file/d/1vh1jRVi8bq2no2Zm_ACGzj98sbYV8f3q/view">University of Toronto CSC Coding Bootcamp</a>. Pierre’s graduation is expected to be in November 2019. Pierre has 2 beautiful boys and a loving wife who currently reside in Ottawa Ontario. Pierre was born and raised from Toronto, Ontario. 

      </p>
    </div>
  </div>
  <br class="clear" />

</div>

<br class="clear" />
<br />
<br />
<br />
<br />